*{
    margin: 0px;
    padding: 0px;
}

#head-container{

    height: 500px;
    background-color:rgb(51, 2, 97) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
#image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.cart{

    width: 300px;
    height: 400px;
    background-color: rgb(38, 11, 111);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: 15px;
    color: white;
   
   

}
.img{

    width: 300px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.logo-icon ,.uber{

    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.addmore{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    align-self: center;
    margin-top: 50%;

}
.fa-apple{
    font-size: 40px;

}